 @charset "utf-8";



#picture {
    width: 100%;
}

 table.times {
    background: blue;
    border-collapse: collapse;
    font-size: 1em;
}

table.times th, table.times td {
    border: 1px solid gray;
    padding: 6px;
    vertical-align: top;
}

table.times caption {
    caption-side: bottom;
    text-align: right;
    font-size: .75em;
}

table.times thead {
    background: darkblue;
    color: white;
}

col#firstCol {
    background: rgb(220, 220, 220);

}
col.timeCols {
    background: lightskyblue;
}
footer{
    font-size: small;
}